@import "normalize.css";
body {
  box-sizing: border-box;
}
.el-icon {
  cursor: pointer;
}
.el-drawer {
  .el-drawer__header {
    height: 40px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000e6;
    border-bottom: 1px solid #e8e8e8;
  }
}
